<nav class="navbar navbar-expand-lg bg-dark fixed-top" color-on-scroll="500" *ngIf="nav.visible">
  <div class="container">
    <div class="dropdown button-dropdown">
      <div ngbDropdown>
        <a class="dropdown-toggle" ngbDropdownToggle>
          <span class="button-bar"></span>
          <span class="button-bar"></span>
          <span class="button-bar"></span>
        </a>
        <div ngbDropdownMenu>
          <a class="dropdown-header">Settings</a>
          <a *ngIf="isLoggedIn" class="dropdown-item" href="#">Account</a>
          <a *ngIf="!isLoggedIn" class="dropdown-item" routerLink="/login">Login</a>
          <a class="dropdown-item" href="#">Info</a>
          <a class="dropdown-item" href="#">About me</a>
          <div *ngIf="isLoggedIn" class="dropdown-divider"></div>
          <a *ngIf="isLoggedIn" class="dropdown-item" href="#">Budget</a>
          <div *ngIf="isLoggedIn" class="dropdown-divider"></div>
          <a *ngIf="isLoggedIn" class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/index']" placement="bottom" ngbTooltip="Home page">
        Home Budget
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link btn btn-info" [routerLink]="">
            <p>Test for FREE</p>
          </a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">
            <i class="now-ui-icons users_circle-08"></i>
            <p>Login</p>
          </a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/budget">
            <i class="now-ui-icons business_money-coins"></i>
            <p>Your Budget</p>
          </a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" (click)="logout()">
          <i class="now-ui-icons users_circle-08"></i>
          <p>Logout</p>
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Check my GitHub" data-placement="bottom"
             href="https://github.com/aklikan1" target="_blank">
            <i class="fab fa-github"></i>
            <p class="d-lg-none d-xl-none">GitHub</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Find me on Linkedin" data-placement="bottom"
             href="https://www.linkedin.com/in/marek-grzegorczyn-02401b16a" target="_blank">
            <i class="fab fa-linkedin"></i>
            <p class="d-lg-none d-xl-none">Linkedin</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
