<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header">
          <div class="title">
            <h5>Edit Profile<i class="material-icons" placement="bottom"
                               ngbTooltip="Click on the photo to change its details">help_outline</i></h5>
          </div>
        </div>
        <div class=" card-body">
          <form name="form" (ngSubmit)="onSubmitUserCustomDetails()" #customDetails='ngForm'>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label for="username"> Username </label>
                  <input
                    class=" form-control"
                    type="text"
                    id="username"
                    placeholder="Username"
                    [value]="userCustomDetails?.user?.username"
                    [disabled]="true"
                  />
                </div>
              </div>
              <div class=" col-md-5 pl-md-1">
                <div class=" form-group">
                  <label for="email"> Email address </label>
                  <input
                    class=" form-control"
                    type="email"
                    id="email"
                    placeholder="Email"
                    [value]="userCustomDetails?.user?.email"
                    [disabled]="true"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label for="firstName"> First Name </label>
                  <input
                    class=" form-control"
                    type="text"
                    name="firstName"
                    id="firstName"
                    placeholder="First name"
                    [(ngModel)]="userCustomDetails.firstName"
                  />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label for="lastName"> Last Name </label>
                  <input
                    class=" form-control"
                    type="text"
                    id="lastName"
                    name="lastName"
                    placeholder="Last name"
                    [(ngModel)]="userCustomDetails.lastName"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label for="address"> Address </label>
                  <input
                    class=" form-control"
                    type="text"
                    id="address"
                    name="address"
                    placeholder="Address"
                    [(ngModel)]="userCustomDetails.address"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label for="city"> City </label>
                  <input
                    class="form-control"
                    type="text"
                    id="city"
                    name="city"
                    placeholder="City"
                    [(ngModel)]="userCustomDetails.city"
                  />
                </div>
              </div>
              <div class=" col-md-4 px-md-1">
                <div class=" form-group">
                  <label for="country"> Country </label>
                  <input
                    class="form-control"
                    type="text"
                    id="country"
                    name="country"
                    placeholder="Country"
                    [(ngModel)]="userCustomDetails.country"
                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label for="zipCode"> Postal Code </label>
                  <input
                    class=" form-control"
                    type="text"
                    id="zipCode"
                    name="zipCode"
                    placeholder="ZIP Code"
                    [(ngModel)]="userCustomDetails.zipCode"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-8">
                <div class=" form-group">
                  <label for="aboutMe"> About Me </label>
                  <textarea
                    class="form-control"
                    cols="80"
                    rows="4"
                    id="aboutMe"
                    name="aboutMe"
                    placeholder="Here can be your description"
                    [(ngModel)]="userCustomDetails.aboutMe"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class=" card-footer">
              <button class=" btn btn-fill btn-danger">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)" (click)="modalAllPhotoDetails(allPhotoDetails)">
              <img alt="..." class=" avatar" [src]="userPhotoImgUrl" />

              <h5 class="title">{{firstAndLastName}}</h5>
            </a>
            <p class=" description">{{job}}</p>
          </div>
          <div class="card-description text-center">
            {{photoDescriptions}}
          </div>
        </div>
        <div class=" card-footer">
          <div class=" button-container">
            <button
              class=" btn btn-icon btn-round btn-facebook"
              href="javascript:void(0)"
            >
              <i class=" fab fa-facebook"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-twitter"
              href="javascript:void(0)"
            >
              <i class=" fab fa-twitter"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-google"
              href="javascript:void(0)"
            >
              <i class=" fab fa-google-plus"> </i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #allPhotoDetails let-modal class="">
  <div class="modal-body modal-test-backgroud">
    <label for="job">Current job</label>
    <input class="form-control" id="job" placeholder="Current job" type="text"
           [(ngModel)]="tempJob" name="job" autocomplete="off"
    />
    <label for="photoDescription">Photo description</label>
    <textarea
      class="form-control test"
      cols="80"
      rows="4"
      id="photoDescription"
      name="photoDescription"
      placeholder="Here can be your photo description"
      [(ngModel)]="tempPhotoDesc"
    ></textarea>
    <label for="userPhoto">User photo</label>
    <input id="userPhoto" type="file" class="form-control" accept="image/png, image/jpg, image/jpeg" (change)="onFileChanged($event)">
    <div class="text-center">
      <img [src]="imgURL" height="200" *ngIf="imgURL" alt="">
    </div>
    <div *ngIf="requiredImageFile" class="text-danger">Required only image file!</div>
      <div class="row">
        <div class="modal-body">
          <button class="btn btn-light" type="button" (click)="modal.close()">Save</button>
          <button class="btn btn-light" type="button" (click)="modal.dismiss()">Cancel</button>
        </div>
      </div>
  </div>

</ng-template>
