<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="form" #f='ngForm' (submit)="sendBudget()" novalidate class="add-budget-form">

        <!-- name -->
        <div class="form-group">
          <label for="name">Name of Budget</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 name="name"
                 placeholder="Budget name"
                 [(ngModel)]="model.name"/>

        </div>

        <button type="submit" class="btn btn-info pull-right">
          <i class="fa fa-envelope-o"></i>
          <span> Add Budget</span>
        </button>
      </form>
    </div>
    <div class="offset-3"></div>
  </div>
</div>
