<div class="content">

  <div class="row" >
    <div class="col-12">
      <div class="btn-group" ngbDropdown>
        <button ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{budgetName}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          <table>
            <tr *ngFor="let budget of budgets">
              <td><button type="button" ngbDropdownItem (click)="getAllDataAndSetActualBudget(budget)">{{budget.name}}</button></td>
              <td><button type="button" aria-label="Close" class="close text-danger" data-dismiss="modal"
                          (click)="deleteBudgetById(confirmDeleteModal, budget)">
                <i class=" tim-icons icon-simple-remove"> </i>
              </button></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="float-right" data-toggle="buttons">
        <!-- Edit budget name -->
        <button type="button" class="btn btn-secondary" (click)="changeBudgetName(budgetNameTemplate, actualBudget)"
                placement="left" ngbTooltip="Change budget name">
          <i class=" tim-icons icon-pencil"> </i>
        </button>
        <!-- Add new budget -->
        <button type="button" class="btn btn-secondary" (click)="addNewBudget(budgetNameTemplate)"
                placement="left" ngbTooltip="Add new budget">
          <i class=" tim-icons icon-simple-add"> </i>
        </button>
      </div>
    </div>
  </div>

  <div class="row">

    <!-- Income table -->
    <div class=" col-lg-6 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title text-center">Incomes table</h3>
          <div class="text-center">
            <mat-form-field>
              <input matInput [matDatepicker]="incomeDP" placeholder="Month and Year" [formControl]="incomeDateCtrl"
                     id="incomeMonthAndYearInput">
              <mat-datepicker-toggle matPrefix [for]="incomeDP"
                                     placement="bottom" ngbTooltip="Show calendar"></mat-datepicker-toggle>
              <mat-icon matDatepickerToggleIcon matSuffix (click)="showAllDetails($event, INCOME_CATEGORY)"
                        placement="bottom" ngbTooltip="Show all details">A</mat-icon>
              <mat-datepicker #incomeDP touchUi
                              startView="multi-year"
                              (yearSelected)="chosenYearHandler($event, INCOME_CATEGORY)"
                              (monthSelected)="chosenMonthHandler($event, incomeDP, INCOME_CATEGORY)"
                              panelClass="example-month-picker">
              </mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="card-body">
          <table class="table">
            <thead class="text-primary">
            <tr>
              <th style="width: 40%;">Name
                <i class="material-icons" placement="right"
                   ngbTooltip="One-click to open category, double click to change it name">help_outline</i>
              </th>
              <th style="width: 10%;"></th>
              <th class="text-center" style="width: 20%;">Estimate money / date</th>
              <th class="text-center" style="width: 25%;">Actual money</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let incomeName of incomeBasicNames; index as namesIndex">
              <tr class="tableTrElement">
                <td>
                  <input [readOnly]="incomeName.readOnly" (click)="showOrHideDetailsClick(incomeName)"
                         (dblclick)="changeReadOnlyWhenDoubleClick(incomeName)" [(ngModel)]="incomeName.name"
                         (change)="postUpdateIncomeBasicNames(incomeName)"
                         type="text" class="input-label" id="{{incomeName.id}}-{{incomeName.name}}"
                         placeholder="Add category...">
                </td>
                <td>
                  <button type="button" aria-label="Close" class="close text-danger" data-dismiss="modal"
                          (click)="deleteBasicNames(confirmDeleteModal, incomeName, namesIndex, INCOME_CATEGORY)">
                    <i class=" tim-icons icon-simple-remove"> </i>
                  </button>
                </td>
                <td class="text-center">
                  <input type="text" class="input-label text-center"
                         [(ngModel)]="incomeName.estimated_money" (change)="postUpdateIncomeBasicNames(incomeName)">
                </td>
                <td class="text-center">{{incomeActualMoney[namesIndex]}}</td>
                <td>
                  <i *ngIf="!incomeName.isClicked" class=" tim-icons icon-minimal-up"> </i>
                  <i *ngIf="incomeName.isClicked" class=" tim-icons icon-minimal-down"> </i>
                </td>
              </tr>
              <ng-container *ngIf="incomeName.isClicked">
                <tr *ngFor="let detail of incomeDetailsCheckDate[namesIndex]">
                  <td>
                    <input type="text" class="input-label"
                           [(ngModel)]="detail.name" (change)="postUpdateIncomeDetails(detail)"
                           placeholder="Add detail...">
                  </td>
                  <td>
                    <button type="button" aria-label="Close" class="close text-danger" data-dismiss="modal"
                            (click)="deleteDetail(confirmDeleteModal, detail, namesIndex, INCOME_DETAIL)">
                      <i class=" tim-icons icon-simple-remove"> </i>
                    </button>
                  </td>
                  <td class="text-center">{{addDate(detail.date)}}</td>
                  <td>
                    <input type="text" class="input-label text-center"
                           [(ngModel)]="detail.money" (change)="postUpdateIncomeDetails(detail)">
                  </td>
                </tr>

              <tr *ngIf="isIncomeMonthAndYearIsActual">
                <td style="padding-left: 5%">
                  <button type="button" class="btn btn-secondary"
                          (click)="postAddNewIncomeDetails(incomeName, namesIndex)"
                          placement="right" ngbTooltip="Add new detail">
                    <i class="tim-icons icon-simple-add"> </i>
                  </button></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              </ng-container>
            </ng-container>

            <!-- Add new income point -->
            <tr *ngIf="budgetArrayGreaterThenZero">
              <td><button type="button" class="btn btn-secondary" (click)="postAddNewIncomeBasicNames()"
                          placement="right" ngbTooltip="Add new category">
                <i class="tim-icons icon-simple-add"> </i>
              </button></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Expenses table -->
    <div class=" col-lg-6 col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h3 class="card-title text-center">Expenses table</h3>
          <div class="text-center">
            <mat-form-field>
              <input matInput [matDatepicker]="expensesDP" placeholder="Month and Year" [formControl]="expensesDateCtrl"
                     id="expensesMonthAndYearInput">
              <mat-datepicker-toggle matPrefix [for]="expensesDP"
                                     placement="bottom" ngbTooltip="Show calendar"></mat-datepicker-toggle>
              <mat-icon matDatepickerToggleIcon matSuffix (click)="showAllDetails($event, EXPENSES_CATEGORY)"
                        placement="bottom" ngbTooltip="Show all details">A</mat-icon>
              <mat-datepicker #expensesDP touchUi
                              startView="multi-year"
                              (yearSelected)="chosenYearHandler($event, EXPENSES_CATEGORY)"
                              (monthSelected)="chosenMonthHandler($event, expensesDP, EXPENSES_CATEGORY)"
                              panelClass="example-month-picker">
              </mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="">
          <div class="card-body">
            <table class="table">
              <thead class="text-primary">
              <tr>
                <th style="width: 40%;">Name
                  <i class="material-icons" placement="right"
                     ngbTooltip="One-click to open category, double click to change it name">help_outline</i>
                </th>
                <th style="width: 10%;"></th>
                <th class="text-center" style="width: 20%;">Estimate money / date</th>
                <th class="text-center" style="width: 25%;">Actual money</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let expensesName of expensesBasicNames; index as namesIndex">
                <tr class="tableTrElement">
                  <td>
                    <input [readOnly]="expensesName.readOnly" (click)="showOrHideDetailsClick(expensesName)"
                           (dblclick)="changeReadOnlyWhenDoubleClick(expensesName)" [(ngModel)]="expensesName.name"
                           (change)="postUpdateExpensesBasicNames(expensesName)"
                           type="text" class="input-label" id="{{expensesName.id}}-{{expensesName.name}}"
                           placeholder="Add category...">
                  </td>
                  <td>
                    <button type="button" aria-label="Close" class="close text-danger" data-dismiss="modal"
                            (click)="deleteBasicNames(confirmDeleteModal, expensesName, namesIndex, EXPENSES_CATEGORY)">
                      <i class=" tim-icons icon-simple-remove"> </i>
                    </button>
                  </td>
                  <td class="text-center">
                    <input type="text" class="input-label text-center"
                           [(ngModel)]="expensesName.estimated_money" (change)="postUpdateExpensesBasicNames(expensesName)">
                  </td>
                  <td class="text-center">{{expensesActualMoney[namesIndex]}}</td>
                  <td>
                    <i *ngIf="!expensesName.isClicked" class=" tim-icons icon-minimal-up"> </i>
                    <i *ngIf="expensesName.isClicked" class=" tim-icons icon-minimal-down"> </i>
                  </td>
                </tr>
                <ng-container *ngIf="expensesName.isClicked">
                  <tr *ngFor="let detail of expensesDetailsCheckDate[namesIndex]">
                    <td>
                      <input type="text" class="input-label"
                             [(ngModel)]="detail.name" (change)="postUpdateExpensesDetails(detail)"
                             placeholder="Add detail...">
                    </td>
                    <td>
                      <button type="button" aria-label="Close" class="close text-danger" data-dismiss="modal"
                              (click)="deleteDetail(confirmDeleteModal, detail, namesIndex, EXPENSES_DETAIL)">
                        <i class=" tim-icons icon-simple-remove"> </i>
                      </button>
                    </td>
                    <td class="text-center">{{addDate(detail.date)}}</td>
                    <td>
                      <input type="text" class="input-label text-center"
                             [(ngModel)]="detail.money" (change)="postUpdateExpensesDetails(detail)">
                    </td>
                  </tr>

                <tr *ngIf="isExpensesMonthAndYearIsActual">
                  <td style="padding-left: 5%">
                    <button type="button" class="btn btn-secondary"
                            (click)="postAddNewExpensesDetails(expensesName, namesIndex)"
                            placement="right" ngbTooltip="Add new detail">
                    <i class="tim-icons icon-simple-add"> </i>
                  </button></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                </ng-container>
              </ng-container>

              <!-- Add new income point -->
              <tr *ngIf="budgetArrayGreaterThenZero">
                <td><button type="button" class="btn btn-secondary" (click)="postAddNewExpensesBasicNames()"
                            placement="right" ngbTooltip="Add new category">
                  <i class="tim-icons icon-simple-add"> </i>
                </button></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Template to add or change name budget -->

<ng-template #budgetNameTemplate let-modal>
  <div class="modal-body">
    <input class="form-control" id="inlineFormInputGroup" placeholder="Budget name" type="text"
      [(ngModel)]="tempBudgetName" name="budgetName" (keyup.enter)="modal.close();" autocomplete="off"
    />
    <button *ngIf="!isSaveNewBudget" class="btn btn-light" type="button" (click)="modal.close();">Save</button>
    <button *ngIf="isSaveNewBudget" class="btn btn-light" type="button" (click)="modal.close();">Add new</button>
    <button class="btn btn-light" type="button" (click)="modal.dismiss()">Cancel</button>
  </div>
</ng-template>

<!-- Template confirm delete budget -->
<ng-template #confirmDeleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Profile deletion</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete <span class="text-primary">"{{tempDeleteInformation[0]}}"</span> profile?</strong></p>
    <p>All information associated to this {{tempDeleteInformation[1]}} profile will be permanently deleted. <br>
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <div>
      <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    </div>

  </div>
</ng-template>
