.input-label{
  background: rgba(120,120,120,0);
  color: lightgrey;
  border: none;
  cursor: pointer;
  width: 100%;
  outline: none;
}

.tableTrElement{
  background-color: #32325d;
}

.mat-icon {
  cursor: pointer;
  height:16px;
  width:16px;
  font-size:16px;
}

.basicNameIcon {
  cursor: pointer;
}
